@media(max-width:1042px){
    .action-order{
        max-width: 100%;
    }
    .content-search-location {
        text-align: center;
    }
    .section-search-location img {
        max-width: 105px;
    }
    .content-search-location h6{
        font-size: 32px;
    }
}

@media(max-width:999px){
   .img-section-mobile-app{
        grid-row: 2;
        grid-column: 1 span;
        margin-top: 4rem;
   }
    .img-section-mobile-app img {
        top: -17px;
    }
   .content-section-mobile-app{
        grid-column: 2 span;
   }
   .content-section-mobile-app h4 {
    font-size: 36px;
   }
    .content-section-mobile-app p {
    font-size: 15px;
   }
}

@media(max-width:882px){
    .header-bottom{
        margin-top: 2rem;
    }
    .fixed-box-delivery{
        top: -2rem;
        left:-10rem;
    }
    
}

@media(max-width:834px){
    .section-food {
        margin-top: 4rem;
    }
    .navigation{
        grid-template-columns: repeat(3,auto);
    }
    .navigation > ul {
        display: none;
    }
    .link-navigation{
        justify-self: center;
    }
    .menu-icon{
        justify-self: flex-end;
    }
    .content-left-header-bottom h1{
        font-size: 34px;
        line-height: 50px;
    }
    .order-food{
        margin-top: 2rem;
    }
    .button-action-order{
        max-width: 54%;
        padding: 5px 10px;
        gap: 2px;
    }
    .action-order > button{
        padding: 16px;
        font-size: 14px;
    }
    .action-order{
        justify-content: flex-start;
        gap: 1.5rem;
    }
    .fixed-box-delivery{
        padding: 6px;
        top: -1rem;
        left: -5rem;
    }
    .fixed-box-delivery div span{
        font-size: 19px;
    }
    .content-search-location {
        text-align: center;
    }
     .section-search-location img {
        max-width: 90px;
    }
    .content-search-location form {
        width: 90%;
    }
    .info-site-footer{
        grid-row: 2;
        grid-column: 2 span;
        justify-self: center;
        margin-top: 2rem;
    }
    .grid-section-footer{
        grid-template-columns: repeat(2,1fr);
    }
    .grid-section-footer .link-footer:nth-child(2){
        justify-self: center;
    }
}

@media(min-width:835px) {
    .menu-icon{
        display: none;
    }

}

@media(max-width:676px){
    .header-bottom{
        grid-template-columns: repeat(1, 1fr);
    }
    .content-left-header-bottom{
        width: 100%;
        text-align: center;
    }
    .content-left-header-bottom p{
        max-width: 100%;
        margin: 1.5rem 0;
    }
    .order-food-desktop{
        display: none;
    }
    .order-food-mobile{
        margin-top: 5rem ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fixed-box-delivery{
        position: static;
        width: 20%;
    }
    .section-mobile-app{
        max-width: 100%;
        border-radius: 500px 500px 0 0 ;
    }
    .content-section-mobile-app {
        margin-top: 6rem;
        text-align: center;
    }
    .content-section-mobile-app p{
        max-width: 100%;
    }
    .img-section-mobile-app{
        grid-column: 2 span;
        justify-self: center;
    }
     .img-section-mobile-app img{
        max-width: 200px;
    }
    .img-section-mobile-app img{
        top: -13px;
    }
    .content-search-location h6{
        font-size: 25px;
    }
    .content-search-location p{
        font-size: 13px;
    }
}

@media(min-width:677px){
   .order-food-mobile{
        display: none;
   }
}

@media (max-width: 585px) {
     .right-item-food img{
        right: 0;
    }
    .seconde-item-food-off .right-item-food img {
        right: auto;
        top: 10%;
    }
    .third-item-food-off .right-item-food img {
        right: auto;
        top: 19%;
    }
}


@media(max-width:550px){
    .content-search-location {
        text-align: center;
    }
    .section-search-location img:nth-child(4){
        top: 7%;
    }
    .content-search-location form {
        height: 49px
    }
    .content-search-location form input {
        font-size: 13px;
    }
     .content-search-location form button {
        top: 11%;
    }
}


