@media(max-width:1042px){
    .action-order{
        max-width: 100%;
    }
}

@media(max-width:882px){
    .header-bottom{
        margin-top: 2rem;
    }
    .fixed-box-delivery{
        top: -2rem;
        left:-10rem;
    }
    
}

@media(max-width:834px){
    .navigation{
        grid-template-columns: repeat(3,auto);
    }
    .navigation > ul {
        display: none;
    }
    .link-navigation{
        justify-self: center;
    }
    .menu-icon{
        justify-self: flex-end;
    }
    .content-left-header-bottom h1{
        font-size: 34px;
        line-height: 50px;
    }
    .order-food{
        margin-top: 2rem;
    }
    .button-action-order{
        max-width: 54%;
        padding: 5px 10px;
        gap: 2px;
    }
    .action-order > button{
        padding: 16px;
        font-size: 14px;
    }
    .action-order{
        justify-content: flex-start;
        gap: 1.5rem;
    }
    .fixed-box-delivery{
        padding: 6px;
        top: -1rem;
        left: -5rem;
    }
    .fixed-box-delivery div span{
        font-size: 19px;
    }
}

@media(min-width:835px) {
    .menu-icon{
        display: none;
    }
}

@media(max-width:676px){
    .header-bottom{
        grid-template-columns: repeat(1, 1fr);
    }
    .content-left-header-bottom{
        width: 100%;
        text-align: center;
    }
    .content-left-header-bottom p{
        max-width: 100%;
    }
    .order-food-desktop{
        display: none;
    }
}

@media(min-width:677px){
   .order-food-mobile{
        display: none;
   }
}