*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
}
ul {
    list-style: none;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/poppins/poppins-bold-webfont.woff" ), format("woff");
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins/poppins-medium-webfont.woff" ), format("woff");
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/poppins/poppins-medium-webfont.woff" ), format("woff");
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/poppins/poppins-semibold-webfont.woff" ), format("woff");
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/poppins/poppins-light-webfont.woff" ), format("woff");
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins/poppins-regular-webfont.woff" ), format("woff");
}

:root{
    --color_C90000: #c90000;
    --color_7D7C7C: #7D7C7C;
    --color_504F4f: #504F4F;
    --color_323232: #323232;
    --color_ffc300: #ffc300;
    --color_fff6a3: #fff6a3;
    --color_e3e3e3: #e3e3e3;
    --color_f1f1f1: #f1f1f1;
    --color_FFFDE6: #FFFDE6;
    --color_fff:#fff;
    --color-rgba-241: rgba(241, 241, 241, 0.70);
    --color-rgba-241-040: rgba(241, 241, 241, 0.40);
    --color-rgba-112: rgba(112,144,176,0.20);
}

img{
    width: 100%;
}

.text-danger {
    color: var(--color_c90000);
}

.main-header{
    margin-top: 1rem;
}

.container-site{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0.5rem;
}

.navigation{
    display: grid;
    grid-template-columns: 58px 635px 187px;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 2.5rem;
}

.navigation ul li:first-child a {
    color:var(--color_C90000);
    font-weight: 600;
}

.navigation ul li:not(:first-child) a {
    color:var(--color_7D7C7C);
    font-weight: 500;
}

.navigation ul li a {
    color:var(--color_7D7C7C);
}

.link-navigation a{
    border: 1px solid var(--color_C90000);
    padding: 9px 16px;
    border-radius: 100px;
    font-size: 16px;
}

.link-navigation a:first-child {
    color:var(--color_C90000);
    font-weight: 400;
}

.link-navigation a:last-child {
    background-color:var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

.nav-menu-sidebar{
    flex-direction: column;
    position: fixed;
    left: 0;
    z-index: 100;
    background-color:var(--color_fff);
    height: 100%;
    top: 0;
    padding: 1rem;
    width: 200px;
    border-right: 2px solid var(--color_504F4f);
    transform: translateX(-384px);
}
#input_menu:checked +label +ul {
        transform: translateX(0);
        transition: all 250ms ease-out;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -ms-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
}

#close-icon {
    display: none;
    color:var(--color_504F4f);
}

#input_menu:checked +label svg:first-child {
    display: none;
}

#input_menu:checked +label #close-icon {
    display: block;
}

.header-bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.content-left-header-bottom{
    align-self: center;
    width: 86%;
}

.content-left-header-bottom h1{
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
    line-height: 76px;
}

.content-left-header-bottom p{
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 77%;
}

.content-right-header-bottom{
    position: relative;
}

.fixed-box-delivery {
    position: absolute;
    top: 5rem;
    left: -7rem;
    border-radius:50px 50px 0 50px;
    border:1px solid var(--color_f1f1f1);
    background-color: var(--color-rgba-241-040);
    padding: 12px;
    text-align: center;
}

.fixed-box-delivery div{
   display: flex;
   align-items:center;
}

.fixed-box-delivery > span{
   color:var(--color_7D7C7C);
   font-size: 16px;
   font-weight: 400;
}

.fixed-box-delivery div span{
   color:var(--color_323232);
   font-size: 24px;
   font-weight: 300;
   margin-left: 5px;
}

.order-food{
    margin-top: 3rem;
}

.text-price-order-food{
    color:var(--color_323232);
    margin-bottom: 1rem;
}

.text-price-order-food span:first-child{
    font-size: 16px;
    font-weight: 300;
}

.text-price-order-food span:last-child{
    font-size: 24px;
    font-weight: 500;
}

.action-order{
    display: flex;
    justify-content: space-between;
    max-width: 79%;
    

}

.button-action-order{
    max-width: 41%;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-items: center;
    border:1px solid var(--color-rgba-241);
    background-color:var(--color_fff);
    border-radius:100px;
    padding: 8px 16px;
    box-shadow: 0 10px 17px 0 var(--color-rgba-112);
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-border-radius:100px;
}

.button-action-order button{
    background-color:transparent;
    border:none;
}

.button-action-order span{
    font-size: 20px;
    color:var(--color_ffc300);
    font-weight: 500;
}

.button-action-order span::after , .button-action-order span::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color:var(--color-rgba-241);
}

.button-action-order span::after{
    margin-left: 12px;
}

.button-action-order span::before{
    margin-right: 12px;
}

.action-order > button {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:var(--color_ffc300);
    box-shadow: 0 20px 20px 0 var(--color-rgba-241);
    color:var(--color_323232);
    border:none;
    border-radius:100px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 500;
}

.action-order > button svg{
    margin-right: 5px;
    margin-top: -3px;
}

.row-title-section-food h4{
    position: relative;
    color:var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
}

.line-bottom-row-titlt{
    width: 137px;
    height: 9px;
    background-color:var(--color_fff6a3);
    position: absolute;
    margin-top: -30px;
    z-index: -1;
}

.row-button-category{
    display: grid;
    grid-auto-columns: 171px;
    grid-auto-flow: column;
    column-gap: 20px;
    overflow: auto;
    margin-top: 32px;
}

.row-button-category button{
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius:100px;
    border: 1px solid var(--color_e3e3e3);
    background-color: var(--color_f1f1f1);
    padding: 14px 20px;
    color: var(--color_504F4f);
    font-size: 16px;
    font-weight: 400;
    column-gap:8px;
}

.button-active-category{
    background-color:var(--color_ffc300) !important;
    color:var(--color_323232) !important;
    font-weight: 600 !important;
}

.row-grid-food-products{
    display: grid;
    grid-template-columns: repeat(3,370px);
    margin-top: 32px;
    gap: 30px;
}

.item-food-grid{
    border: 1px solid var(--color_e3e3e3);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 16px;
    position: relative;
}

.badge-discount {
    width: 48px;
    position: absolute;
}

.img-item-food-grid{
    position: relative;
    text-align: center;
}

.img-item-food-grid img{
    max-width: 227px;
    max-height: 200px;
}

.img-item-food-grid div {
    height: 105px;
    background-color: var(--color_FFFDE6);
    border-radius:12px;
    position: absolute;
    width: 100%;
    bottom: -2px;
    z-index: -1;
}

.info-item-food-grid{
    margin-top: 18px;
}

.info-item-food-grid h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color_323232);
}

.info-item-food-grid p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    color: var(--color_504F4f);
}
.score-item-food-grid{
    margin: 12px 0 20px 0;
}

.bottom-item-food-grid{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.bottom-item-food-grid span{
    color: var(--color_323232);
    font-size: 24px;
    font-weight: 600;
}

.bottom-item-food-grid button{
    border-radius: 8px;
    border: none;
}

